<template>
	<div class="container bg-light" >
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
		<div>
			<section class="py-5">
				<div class="boxsection1">
					<div class="container-fulid">
						<img class="imgz-index"
							src="https://img.freepik.com/free-vector/elegant-white-background-with-shiny-lines_1017-17580.jpg?size=626&ext=jpg"
							width="400" height="350">
						<div class="row">
							<div class="col-lg-8" >
								<div class="subsection1">
									<p class="head-description">Connecting</p>
									<h1 class="description">the world to crypto</h1>
									<p style="margin-top:20px; margin-bottom:20px">The easy way to send, receive, store, and trade digital currencies  </p>
									<myButton1 Func="Hello"></myButton1>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="row">
									<Mybox class="w-100" style="z-index:3;" Message="The first Paragraph"></mybox>
									<Mybox class="w-100" style="z-index:4;" Message="The Second Para"></mybox>
									<Mybox class="w-100" style="z-index:2;" Message="The Third"></mybox>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="boxsection2">
					<div class="container-fulid">
						<div class="row justify-content-center">
							<Largebox class="col-lg-3" Message="123"></Largebox>
							<largebox class="col-lg-3" Message="123"></largebox>
							<largebox class="col-lg-3" Message="123"></largebox>
							<largebox class="col-lg-3" Message="123" Message2="12123"></largebox>
						</div>
					</div>
				</div>

				<div class="boxsection3">
					<div class="container-fulid">
						<div class="row">
							<div class="col-lg">
									<h2 class="description1">Your Passport to the Future of Finance </h2>
									<p>bra bra bra bra bra bra bra bra bra bra</p>
							</div>
							<div class="col-lg">
								<img style="max-width:100%;"
								v-img src="https://img.pngio.com/cartoon-mountain-scenery-cartoon-vector-mountain-vector-return-nature-png-vector-650_400.png">
							</div>
						</div>
					</div>
				</div>

				<div class="boxsection4">
					<div class="row" >
						<div class="col-lg-4">
							<inforbox Head="Invest"
								information="Then came the night of the first falling star. It was seen early in the morning, rushing over Winchester eastward.">
							</inforbox>
						</div>
						<div class="col-lg-4">
							<inforbox Head="Explore"
								information="It was just a burger. Why couldn't she understand that? She knew he'd completely changed his life around her eating habits.">
							</inforbox>
						</div>
						<div class="col-lg-4">
							<inforbox Head="Analyze"
								information="She tried to think back to when the girl had been younger but failed to pinpoint the exact moment when she had become a little too big to pick up and carry.">
							</inforbox>
						</div>
					</div>
				</div>

				<div class="boxsection5">
					<h2 class="description1"> Enter the Future of Finance</h2>
					<p>He had three simple rules by which he lived. The first was to never eat blue food. </p>
					<div class="row justify-content-center">
						<MyButton1 class="col-2" Func="Create a Wallet"> </MyButton1>
						<MyButton1 class="col-2" Func="Learn More"> </MyButton1>
					</div>
				</div>

				<div class="endboxsection">
					<div class="subendbox">
						<div class="row">
							<div class="col-3">
								<h4 class="darkgray" style="margin-top:15px;">Blockchain</h4>
								<p> @2018 BLOCKCHAIN</p>
							</div>
							<div class="col">
								<div class="row">
									<p class="endhead"> PRODUCTS </p>
									<div class="w-100">
									<footerlink linkname="link1" linkk=""></footerlink>
									<footerlink linkname="link2" linkk=""></footerlink>
									<footerlink linkname="link3" linkk=""></footerlink>
									<footerlink linkname="link4" linkk=""></footerlink>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="row">
									<p class="endhead"> DATA </p>
									<div class="w-100">
										<footerlink linkname="link1" linkk="calculator"></footerlink>
										<footerlink linkname="link2" linkk="calculator"></footerlink>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="row">
									<p class="endhead"> LEARN </p>
									<div class="w-100">
									<footerlink linkname="link1" linkk="store"></footerlink>
									<footerlink  linkname="link2" linkk="store"></footerlink>
									<footerlink linkname="link3" linkk="store"></footerlink>
									<footerlink linkname="link4" linkk="store"></footerlink>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="row">
									<p class="endhead"> COMPANY </p>
									<div class="w-100">
									<footerlink linkname="link1" linkk="blockchain"></footerlink>
									<footerlink linkname="link2" linkk="blockchain"></footerlink>
									<footerlink linkname="link3" linkk="blockchain"></footerlink>
									<footerlink linkname="link4" linkk="blockchain"></footerlink>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="row">
									<p class="endhead"> CONTACT US </p>
									<div class="w-100">
									<footerlink linkname="link1" linkk="blockchain"></footerlink>
									<footerlink linkname="link2" linkk="blockchain"></footerlink>
									<footerlink linkname="link3" linkk="blockchain"></footerlink>
									<footerlink linkname="link4" linkk="blockchain"></footerlink>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="endboxsection">
					<div class="row justify-content-center" style="margin:0px 0px 0px 10px;">
						<div class="col-3">
							<span class="glyphicon glyphicon-signal" style="font-size:20px; margin-right:20px;"></span>
							<span class="glyphicon glyphicon-download" style="font-size:20px; margin-right:20px;"></span>
							<span class="glyphicon glyphicon-book" style="font-size:20px; margin-right:20px;"></span>
						</div>
						<div class="col"></div>
						<div class="col"></div>
						<div class="col">
							<div class="row">
								<p>@2018</p>
							</div>
						</div>
						<div class="col">
							<div class="row">
								<p>Terms</p>
							</div>
						</div>
						<div class="col">
							<div class="row">
								<p>Language</p>
							</div>
						</div>
					</div>
				</div>

			</section>
		</div>
	</div>
</template>

<script>
import Mybox from '../../components/blockchaincomponent/Blockchain-my-box.vue'
import MyButton1 from '../../components/blockchaincomponent/Blockchain-button-pill.vue'
import Largebox from '../../components//blockchaincomponent/Blockchain-large-box.vue'
import inforbox from '../../components/blockchaincomponent/Blockchain-infor-box.vue'
import endd from '../../components/blockchaincomponent/Blockchain-endhead-select.vue'
import footerlink from'../../components/blockchaincomponent/Blockchain-footer-link.vue'

	export default {
		name: 'Block chain',
		components:{
		Mybox,
		MyButton1,
		Largebox,
    inforbox,
    endd,
    footerlink

	},
		data() {
			return {
			}
		}
	}


</script>


<style>
h1 , h2{
  color:darkblue;
}
p , .darkgray{
  color:darkgray;
}
.endhead{
  color:darkblue;
  font-size: 18px;
  font-weight: bold;
}

.boxsection1{
	margin-left: 110px;
	margin-right:110px;
	margin-bottom: 25px;
	margin-top:100px;



}
.subsection1{
	padding: 20px 15px 20px 60px;

}
.boxsection2{
	margin-left: 160px;
	margin-right:160px;
	margin-top:150px;

}
.boxsection3{
	margin-left: 160px;
	margin-right:160px;
	margin-top:200px;


}
.boxsection4{
	margin-left: 60px;
	margin-right:60px;
	margin-bottom: 25px;
	margin-top:100px;

}
.boxsection5{
	margin-left: 160px;
	margin-right:160px;
	margin-top:130px;
	text-align:center;

}
.endboxsection{
margin-left: 60px;
	margin-right:60px;
	margin-bottom: -10px;
	margin-top:-10px;


}
.subendbox{
	margin:170px 0px 60px 10px;

}


.head-description{
  /* font-family:  cursive, sans-serif; */
	font-size: 50px;
	margin-top: 20px;
	font-weight: bold;
	color:darkblue;
}
.description{
	font-size: 50px;
	margin-top: -15px;
	color:darkblue;
}
.description1{
	font-size: 35px;

	color:darkblue;
}
.imgz-index {
  position: absolute;
	margin-left: 552px;
	margin-top: -25px;
  z-index: 1;
}




</style>
