<template>
	<div>
		<div class="row">
			<div class="col">
				<h2 style="color : white;">Welcome to Counter __{{counter}}__</h2>
				<br>
				<button @click="incrementCounter">increment counter</button>
			</div>
			<div class="col">


			</div>
		</div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
  export default {
    methods: {
      incrementCounter () {
				this.$store.dispatch('incrementAction', 1)

			},

    },
    computed: {
      counter () {
        return this.$store.getters.counter;
      }
		}

  }
</script>