<template>
	<div class="main-section">
		<div class="main-body">
<ViewButton Func="GetdataFromFirebase" @click.native="GetdataFromFirebase()" style="color:black;"></ViewButton>
				<div class="row">

					<div class="col">
					<div class="inforfont">
						<p> My information </p>
						<br>

						<p> fullname : {{fullname}} </p>
						<br>
						<p> nickname : {{nickname}} </p>
						<br>
						<p> Date of birth : {{DoBd}} {{DoBm}} {{DoBy}} </p>
						<br>
							<ul>
    						<li v-for="(value , name) in info" :key="value">  User ID : {{ name }} <br>name : {{value.firstname}} {{value.lastname}} <br>Role : {{value.role}}</li>
							</ul>
						<!-- <p> info: {{info}} </p> -->
					</div>
				</div>
				<div class="col">
					<div class="row">
						<div class="w-100">
							<div class="col">
								<input type="text" name="firstname" placeholder="Firstname" v-model="firstname">
							</div>
						</div>
						<div class="w-100">
							<div class="col w-100">
								<input type="text" name="lastname" placeholder="Lastname" v-model="lastname">
							</div>
						</div>
						<div class="w-100">
							<div class="col">
								<select  name="role" placeholder="Role" v-model="role" >
									<option value="manager">manager</option>
									<option value="employee">employee</option>
									<option value="HR">HR</option>
								</select>
							</div>
						</div>
						<div class="w-100">
							<div class="col">
								<input type="text" name="userID" placeholder="userID" v-model="userID" class="box-control">
							</div>
						</div>
						<ViewButton Func="WriteuserToFirebase" @click.native="WriteusertoFirebase()"></ViewButton>
					</div>
				</div>
				<div class="col">
					3
				</div>
				<div class="col">
					4
				</div>

				</div>
		</div>
	</div>
</template>

<script>
import AuthenticationService from '../../services/authentication.js';
import ViewButton from '../../components/CRUD/Button.vue'




export default {
	name : 'crud',
	components : {
		ViewButton
	},
	data(){
		return{
			info : '',
			fullname:'',
			nickname:'',
			DoBd :'',
			DoBm: '',
			DoBy: '',

			firstname : '',
			lastname : '',
			role : '',
			userID : '',
		}
	},
	methods : {
		async GetdataFromFirebase() {
			const responsee = await AuthenticationService.GetdataFromFirebase()
			this.info = responsee.data.users;
			this.fullname = responsee.data.my_information.full_name;
			this.nickname = responsee.data.my_information.nick_name;
			this.DoBd = responsee.data.my_information.date_of_birth.date;
			this.DoBm = responsee.data.my_information.date_of_birth.month;
			this.DoBy = responsee.data.my_information.date_of_birth.year;
		},
		async WriteusertoFirebase () {
			const response = await AuthenticationService.WriteusertoFirebase({
				userfirstname : this.firstname,
				userlastname  : this.lastname,
				user_role : this.role,
				userID : this.userID
			})
			this.user = response;
		},


	},
	async mounted () {
			const responsee = await AuthenticationService.GetdataFromFirebase()
			this.info = responsee.data.users;
			this.fullname = responsee.data.my_information.full_name;
			this.nickname = responsee.data.my_information.nick_name;
			this.DoBd = responsee.data.my_information.date_of_birth.date;
			this.DoBm = responsee.data.my_information.date_of_birth.month;
			this.DoBy = responsee.data.my_information.date_of_birth.year;
	}
}
</script>

<style scoped>
.main-body{
	background-color: white;
	height: 800px;
}
p{
	color : black;
}
</style>
