<template>
  <div id="app">
		<div class="container-fluid" style="background-color: #181818">
			<div class="body">
				<navigation />
				<router-view></router-view>
			</div>
		</div>
  </div>
</template>

<script>
import navigation from './components/navigation'


export default {
	name: 'App',
  components: {
		navigation,
	},
	data(){
		return {
			loader : true
		}
	},
	mounted(){
		this.showToggle()
	},
	methods : {
		showToggle(){
			setTimeout(() => {
				this.loader = false
			},100)
		}
	},
}
</script>

<style>
.body{
	background-color: #eeeee4;
}
</style>
